/* StatusBox */
.entity-status-box {
  position: relative;
  width: 100%;
  max-width: 20rem;
  padding: 0 1.25rem;
  border: 2px solid #f5f5f5;
  border-radius: 0.15rem;
}

.health-container {
  position: relative;
}

.health {
  text-align: center;
  background-color: rgba(175, 175, 175, 0.3);
  padding: 0.25rem 0;
}

.health-bar {
  position: absolute;
  height: 100%;
  background-color: green;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Reward */
#reward {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#reward > ul {
  display: grid;
  grid-column: repeat(3, 1fr);
  gap: 1rem;
  grid-row: auto;
}

#reward > ul > li:nth-child(1) {
  grid-column: 2;
  grid-row: 2;
}

#reward > ul > li:nth-child(2) {
  grid-column: 3;
  grid-row: 2;
}

#reward > ul > li:nth-child(3) {
  grid-column: 4;
  grid-row: 2;
}

#reward > ul {
  list-style: none;
  padding-inline-start: 0;
  width: 100%;
  max-width: 20rem;
  margin: 0 auto;
}

#reward > ul > li > button {
  width: 4rem;
  height: 4rem;
  color: #f5f5f5;
  background-color: transparent;
  border: 2px solid #f5f5f5;
  border-radius: 0.5rem;
}

/* Arena */
#arena-ring {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 3rem 2rem;
}

#arena-ring > * {
  width: 5rem;
  height: 5rem;
}

#arena-ring > *:first-child {
  margin-top: 3rem;
}

/* SVG Wave */
.svg-wave {
  height: 13rem;
  overflow: hidden;
}

.svg-wave.bottom > svg {
  transform: translateY(-20rem);
}

/* Register */
#registration {
  height: 100%;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
}

#registration-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #c62368;
}

#registration-form > * + * {
  margin-top: 1rem;
}

#registration-form label {
  color: white;
  display: inline-flex;
  flex-direction: column;
}

/* Bonus */
#bonus {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#bonus > ul {
  padding-inline-start: 0;
  list-style-type: none;

  display: grid;
  grid-column: repeat(2, 1fr);
  gap: 1rem;
  grid-row: auto;
}

#bonus > ul > li > button {
  width: 4rem;
  height: 4rem;
  color: #f5f5f5;
  background-color: transparent;
  border: 2px solid #f5f5f5;
  border-radius: 0.5rem;
}

#bonus > ul > li:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
}

#bonus > ul > li:nth-child(2) {
  grid-column: 2;
  grid-row: 1;
}

#bonus > ul > li:nth-child(3) {
  grid-column: 1;
  grid-row: 2;
}

#bonus > ul > li:nth-child(4) {
  grid-column: 2;
  grid-row: 2;
}
